body{
    background-color: #EFEFF1;
    margin: 0;
    padding-top: 37px;
    padding-left: 80px;
    padding-right: 80px;
}

/* LOGO */
.logo{
 
}

.hamburger{
    float: right;
}

.name{
    padding-left: 80px;
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 97.4507px;
    line-height: 110.4%;
    
    letter-spacing: -0.025em;

    color: #212121;
}

.par{
    padding-left: 80px;
    width: 630px;
    height: 301px;
    border-width: 732px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26.1695px;
    line-height: 55px;

    letter-spacing: 0.08em;

    color: #393939;
}

.check{
    padding-top: 100px;
    padding-left: 80px;
    width: 277px;
    height: 51px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26.1695px;
    line-height: 50px;

    letter-spacing: 0.08em;

    color: #000000;
}

.human{
    position: relative;
    top: 20px;
    float: right;
    
}

.facebook{
    float: right;
}

.twitter{
    float: right;
}

.behance{
    float: right;
}

.by{
    text-align: center;
}